<link rel="stylesheet" href="./users/faqs.css">
<title>FAQs</title>
<section class="faq-section">
    <div class="container">
      <div class="row">
                        <!-- ***** FAQ Start ***** -->
                        <div class="col-md-6 offset-md-3">
    
                            <div class="faq-title text-center pb-3">
                                <h2>FAQS</h2>
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-3">
                            <div class="faq" id="accordion">
                                <div class="card">
                                    <div class="card-header" id="faqHeading-1">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                <span class="badge">1</span>What are generic drugs?
                                            </h5>
                                            <p class="faq-title" >A generic drug is a medication created to be the same as an already marketed brand-name drug in dosage form, safety, strength, route of administration, quality, performance characteristics, and intended use. These similarities help to demonstrate bioequivalence, which means that a generic medicine works in the same way and provides the same clinical benefit as the brand-name medicine. In other words, you can take a generic medicine as an equal substitute for its brand-name counterpart.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-2">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                                <span class="badge">2</span> What are the differences between generic medicine and non-generic medicine?

                                            </h5>
                                            <p class="faq-title" >A major difference between generic medicine and non-generic medicine is the cost. For generic medicine manufacturing, expenses related to patent and exclusive rights like brand-name non-generic medicine are not needed. Therefore generic medicines are priced at a lower amount, 
                                                The colour, shape, packaging and inactive elements are different in the two medicines. Another difference between the two is the expiration date. Some generic medicines may have an extended expiration date than non-generic medicine.
                                                </p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-3">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                                <span class="badge">3</span>Are generic medicines safe? 
                                            </h5>
                                            <p class="faq-title" >Generic medicines cost less but are not less effective. Makers of these medicines do not spend money on the development, research, animal and human clinical trials, marketing and advertising. A non-generic medicine with an expired patent can apply for a license to sell generic medicine, which is evaluated and approved by the Central Drugs Standard Control Organisation only if it meets safety and quality standards. 
                                                Generic medicine contains the same active ingredient that had undergone all clinical trials and quality testing during its patent when it was manufactured by a brand as the non-generic medicine. Therefore, these are considered to be safe. Pharmacovigilance centers monitor the safety and side effects of medications. They ensure consumers are getting effective and safe medicines. They also investigate problem reports and make recommendations to manufacturers, healthcare professionals and the public. 
                                                </p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-4">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                                <span class="badge">4</span> Why do generic medicines cost less?

                                            </h5>
                                            <p class="faq-title" >Non-generic brand-name medications are produced by manufacturers who invest money in research, development, testing, patent and marketing of new medicines, increasing the price of these medicines. These are also protected by patents or other exclusivity periods after the patent or trademark expiration. The generic version can be developed and sold after approval, which costs less as it involves no further rework in research, testing and marketing. 
                                                </p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-5">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                                                <span class="badge">5</span> What is the authenticity of the medical stores displayed on this website?
                                            </h5>
                                            <p class="faq-title" >90% of the displayed pharmacy stores are ISO accredited. The store run by a chemist is a person who knows all about drugs, their compositions and their side effects and a druggist, a person who stores and has permits to sell drugs.</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-6">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6" data-aria-expanded="false" data-aria-controls="faqCollapse-6">
                                                <span class="badge">6</span> Are all medical stores present in a given area displayed on search?
                                            </h5>
                                            <p class="faq-title" >No. Only the renowned medical stores in a given area are displayed. It can be searched using pincode or locality name.</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-7">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="false" data-aria-controls="faqCollapse-7">
                                                <span class="badge">7</span> What are branded medicines?
                                            </h5>
                                            <p class="faq-title" >Branded medicines are those which are manufactured by a company eg.: Cipla, Zydus. These companies are old and have won the trust of a lot of people all over the world. These medicines are manufactured by organizations having a profit margin. Hence they are not cheap.</p>

                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-7">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="false" data-aria-controls="faqCollapse-7">
                                                <span class="badge">8</span> Why are branded medicines costlier than generic medicines?
                                            </h5>
                                            <p class="faq-title" >A company successfully develops a new medicine after years of research as well as animal and human testing. To recover the cost of research and development, clinical trials, labour, marketing and more, companies usually set the price of non-generic medicines on the higher side.</p>

                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    </section><br><br><br>