  <title>3rd page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">

<body class="bg-nav">

<!-- body -->


<div id="carouselExampleCaptions" class="carousel-slide" background="./img/team-1.png" ba style="z-index: 0;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div style="padding-top: 4em; height: 2px;">    
      </div>
    <div id="login-form-wrap"> 
      <div class="container" >            
        {% if len==0 %}
    <h1>Sorry. No Medicines found !</h1>
  {% else %}
    <h1 align="center">Medicine For you</h1>
    <table border="5" cellpadding="10">
    <tr>
    <th>Serial No.</th>
    <th>Generic Medicine Name</th>
    <th>Medical Condition</th>
    <th>Reviews (out of 5)</th>
    <th>Cost</th>
    <th>Side Effects</th>
    </tr>
    {% for i in range(0,len) %}
      <tr>
        <td>{{ i+1 }}</td>
        <td>{{ med[i] }}</td>
        <td>{{ condition[i] }}</td>
        <td>
          {% if rating[i] is none or rating[i] == "" %}
          <span>0</span>
        {% else %}
          <span>{{ rating[i] }}</span>
        {% endif %}
        </td>
        <td>{{ cost[i] }}</td>
        <td>{{ side[i] }}</td>
    {% endfor %}
      </tr>
    </table>
    {% endif %}
  <a href="/">
    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Back to home">
  </a>
</div>                  
    </div><!--login-form-wrap-->
    </div>
  </div>
</div>
  <!-- body ends -->

  
</body>
