<title>1st page</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="vrem.js"></script>

<video loop autoplay muted>
  <source src="video1.mp4" type="video/mp4">
</video>

<script>
    document.querySelector('video').playbackRate=0.7;
</script>

<body class="bg-nav">

<div id="carouselExampleCaptions" class="carousel-slide" ba style="z-index: 0;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div style="padding-top: 4em; height: 2px;">    
      </div>
    <div id="login-form-wrap">      
      <h1>Welcome to MyPharmacy</h1>
      <div class="container">
      <form action="/searchm" method="post" class="form">
        <input type="text" class="form-control" placeholder="Search by condition or medicine" style="background-color:whitesmoke" required="required" name="data"><br>
         <input type="submit" class="btn btn-primary btn-block btn-lg" value="Search Brand">      
      </form>
      <br><br><br><br>
      <form action="/searchgen" method="post" class="formg">  
        <input type="text" class="form-control" placeholder="Search for generic" style="background-color:whitesmoke" required="required" name="datag"><br>
          <input type="submit" class="btn btn-primary btn-block btn-lg" value="Search Generic">
      </form>
      </div>                 
    </div><!--login-form-wrap-->
    </div>
  </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>



