<%
  const serverUrl = request.protocol + '://' + request.hostname + request.baseUrl+request.url;
%>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="vrem.js"></script>

  <title>2nd page</title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="/css/style1.css">
  <link rel="stylesheet" type="text/css" href="/css/rating.css">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>    
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> -->


<video loop autoplay muted>
  <source src="video1.mp4" type="video/mp4">
</video>


<body class="bg-nav">

  <!-- body -->
  <div id="carouselExampleCaptions" class="carousel-slide" background="./img/team-1.png" ba style="z-index: 0;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div style="padding-top: 3em;height: 2px;">    
        </div>
      <div id="login-form-wrap" style="margin-top: 25px;transform: translateX(20px);">          
        <% if (len == 0) { %>
          <section id="about" class="about section-padding" style="padding-top: 240px;margin-left: -20px;"  data-aos="fade-up" data-aos-delay="140" data-aos-duration="1000">
            <h1 align="center">SORRY, NO MEDICINES FOUND!</h1>
                  <div class="d-flex justify-content-center">
                    <a class="btn mx-auto mt-auto" align="center" style="background-color:rgb(16, 8, 87)' ;" href="http://localhost:5000/search">GO BACK TO SEARCH PAGE</a>
        
                  </div>
                  <div style="padding-bottom: 143px;"></div>
        </section>
        <% } else { %>
  
  <div><h1 align="left" style="margin-left: 280px;"><a href="http://localhost:5000/search" align="left" style="margin-bottom: -66px;color: blue;"><i  class="bi bi-arrow-left"></i></a>&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;<span>MEDICINES FOR YOU</span></h1>
    
    <% for (var i = 0; i < len; i++) { %>
    <div data-aos="fade-up"data-aos-duration="1000">
      <div class="container1" style=" color: white ;margin-bottom: 20px ;padding-top: 60px;width: 1030px;margin-left: 100px;transform: scale(1.2);z-index: 1;">
        <div class="photo-card" style="height: 190px;width: 862px;/*margin: 34px;*/margin-top: 62;/*transform: scale(1.15);*/position: static;margin-right: 13px;margin-bottom: 44px;padding: 0;padding-left: 0px;margin-left: 190px;background: rgb(15,6,69);height: 3;border-radius: 1em;">
            <div class="photo-details" style="width: 730px;height: 159.8px;transform: scale(1);border-radius: 0px;">
                <h1 style="height: 0;transform: translateX(-350px) translateY(10px);font-size: 15px;"><span><%= i+1 %></span></h1>
                <div class="pt-3 p-lg-4 " style="transform: translateX(20px) translateY(5px);">
                  <h4 style="height: 17.5px;margin-top: -10px;font-size: 19.5px;font-weight: bold;margin-bottom: 30.825px;margin-left: -590px;transform: translateX(px) translateY(0px);">Medicine :&nbsp;</h4>
                <p style="margin-top: -16px;font-size: 16px;height: 80px;margin-left: -500px;transform: translateX(-25.5px) translateY(13px);">Medical Condition :&nbsp;</p>
                <br>
                <div style="margin-top: -106px; scale: 0.37;margin-left: -20px;">
                  <div style="font-size: 38.5px;padding-top: -20px; padding-bottom: 20px; margin-left: -553px ;height: 0px;justify-content: left;text-align: left;transform: translateX(5px) translateY(30px)">Rating</div>
                  <br>
                  <h4 style="height: 17.5px;margin-top: -13px ;font-size: 38.5px;margin-bottom: 33.825px;margin-left: -120px;transform: translateX(-450px) translateY(20px);">
                      &nbsp;<div class="rating" style="margin-left: 300px;" ><%= rating[i] %></div></h4>
                 </div><h5 style="height: 0px;font-size: 19.5px;transform: translateX(90px) translateY(-127px);color: rgb(255, 255, 255);text-align: left;"><%= med[i] %></h5> <h5 style="font-size: 24.5px;font-size: 16px;transform: translateX(137px) translateY(-88px);color: rgb(255, 255, 255);text-align: left;z-index: 2;"><%= condition[i] %></h5>
                </div>
                
            </div>
        </div>
    </div>
    </div>

    <% } %>
    <a href="javascript:void(0)" data-aos="fade-up" data-aos-duration="1000" onclick="scrollToDiv('carouselExampleCaptions')" class="top">Back to Top &#8593;</a>

    <% } %>

<div style="padding-bottom: 40px;"></div>
   </div>
    
  <!-- <a href="/">
    <input type="submit" class="btn btn-primary" value="Search for another medicine">
  </a>                    -->
      </div><!--login-form-wrap-->
      </div>
    </div>
  </div>
  <!-- body ends -->

  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script type="text/javascript" src="allf.js"></script>

<script src="./rdisp.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

  
</body>
