
<link rel="stylesheet" href="./css/style4.css">
<link rel="stylesheet" href="./css/candle.css">

<script src="vrem.js"></script>
<video loop autoplay muted>
    <source src="video1.mp4" type="video/mp4">
  </video>
  <body class="bg1" style="background: none; margin-bottom: -400px;">
    <section id="about" class="about section-padding" style="padding-top: 200px;"  data-aos="fade-up" data-aos-delay="140" data-aos-duration="1000">
      <h1 align="center">PLEASE REFINE YOUR SEARCH!</h1>
            <div class="d-flex justify-content-center">
              <a class="btn mx-auto mt-auto" align="center" style="background-color:rgb(16, 8, 87)' ;" href="http://localhost:5000/searchs">GO BACK TO SEARCH PAGE</a>
  
            </div>
            <div style= "margin-top: 350px;margin-bottom:-150px; transform: translateY(-62px) ">
              <div class="wrapper">
                <div class="candles">
                  <div class="light__wave"></div>
                  <div class="candle1">
                    <div class="candle1__body">
                      <div class="candle1__eyes">
                        <span class="candle1__eyes-one"></span>
                        <span class="candle1__eyes-two"></span>
                      </div>
                      <div class="candle1__mouth"></div>
                    </div>
                    <div class="candle1__stick"></div>
                  </div>
                  
                  <div class="candle2">
                    <div class="candle2__body">
                      <div class="candle2__eyes">
                        <div class="candle2__eyes-one"></div>
                        <div class="candle2__eyes-two"></div>
                      </div>
                    </div>
                    <div class="candle2__stick"></div>
                  </div>
                  <div class="candle2__fire" style="transform: translateX(-14px) translateY(-10px);"></div>
                  <div class="sparkles-one"></div>
                  <div class="sparkles-two"></div>
                  <div class="candle__smoke-one">
              
                  </div>
                  <div class="candle__smoke-two">
              
                  </div>
                  
                </div>
                <div class="floor">
                </div>
                
              
              </div>
            </div>
            <div style="padding-bottom: 253px;"></div>
  </section>
  </body>
