
<link rel="stylesheet" href="./users/generic.css">

<section id="about" class="about section-padding"  data-aos="fade-up" data-aos-delay="140" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <br>
                <div class="about-img">
                    <img src="./img/pic.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-4">
                <div class="about-text">
                    <h2>AYAAN IS A MONKI</h2>
                </div>
            </div>                
        </div>
    </div>
</section>