
<link rel="stylesheet" href="./users/generic.css">

<script src="vrem.js"></script>
<video loop autoplay muted>
    <source src="video1.mp4" type="video/mp4">
  </video>
<section id="about" class="about section-padding" style="padding-top: 300px;"  data-aos="fade-up" data-aos-delay="140" data-aos-duration="1000">
    <h1 align="center">PLEASE REFINE YOUR SEARCH!</h1>
          <div class="d-flex justify-content-center">
            <a class="btn mx-auto mt-auto" align="center" style="background-color:rgb(16, 8, 87)' ;" href="http://localhost:5000/searchs">GO BACK TO SEARCH PAGE</a>

          </div>
          <div style="padding-bottom: 223px;"></div>
</section>