<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3rd page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body class="bg-nav">
  {% if len==0 %}
    <h1>Sorry. No Medicines found !</h1>
  {% else %}
    <h1 align="center">Medicine For you</h1>
    <table border="5" cellpadding="20">
    <tr>
    <th>Serial No.</th>
    <th>Generic Medicine Name</th>
    <th>Medical Condition</th>
    <th>Reviews (out of 5)</th>
    <th>Side Effects</th>
    </tr>
    {% for i in range(0,len) %}
      <tr>
        <td>{{ i+1 }}</td>
        <td>{{ med[i] }}</td>
        <td>{{ condition[i] }}</td>
        <td>{{ rating[i] }}</td>
        <td>{{ side[i] }}</td>
    {% endfor %}
      </tr>
    </table>
    {% endif %}
  <a href="/">
    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Back to home">
  </a>
</body>
</html>