<link rel="stylesheet" href="./users/generic.css">
<!-- <link rel="stylesheet" href="../public/users/home.css"> -->

<!-- <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <img src="./img/g4.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5></h5>
          <p>
        </p>
        </div>
      </div>
    </div>
</div> -->

<section id="about" class="about section-padding"  data-aos="fade-up" data-aos-delay="140" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <br>
                <div class="about-img">
                    <img src="./img/g7.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-4">
                <div class="about-text">
                    <h2>WHAT ARE GENERIC DRUGS?</h2>
                    <p> A generic drug is a drug that is not branded but is similar to a branded or reference listed drug in terms of dosage, administration and performance.
                    </p><p>
                        According to guidelines from the United States Food and Drug Administration (FDA), the generic drug must have the same active ingredient as the brand name drug as well as the same dosage, strength, safety, conditions of use and route of administration.</p>
                    <p>
                        The generic drug is bioequivalent to the branded product, meaning there is either no significant difference between the two drugs in terms of the rate and extent of absorption or if there is a difference, it is either intended or not medically significant.
                    </p>
                    <p>
                        So long as the FDA criteria are met, a generic drug may be marketed when the patent protections ends or the patent owner waives its rights. The competitive nature of the drug market means that once the generic drug is available, the cost of the drug is substantially lowered for both the original brand name product and the generic drug.
                    </p>
                    <p>
                        Every drug that has been developed by the original company has patent protection, which lasts for a variable amount of time, depending on the molecule. In the United States, for example, drug patents only last for about twenty years. Furthermore, these patents apply from well before clinical trials have begun testing the safety and efficacy of the medication. This means that the effective patented life of the drug, which begins after the drug has been approved, may only be seven to twelve years, for example. The majority of drugs, particularly the life saving ones, are then manufactured and sold as generic drugs.
                    </p>
                    <p>
                        One example of a well known generic drug is metformin, which is used to lower blood sugar levels in diabetes. Metformin is the generic form of a drug which is also available under the brand name Glucophage.
                    </p>
                        <!-- <a href="#" class="btn btn-warning">Learn More</a> -->
                </div>
            </div>                
        </div>
    </div>
</section>


<!-- services -->

<section class="services section-padding mt-0" id="services"  data-aos="fade-up" data-aos-delay="140" data-aos-duration="1000">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center mt-0 pb-5">
                    <h2>GENERIC DRUGS FEATURES</h2>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-primary pb-2">
                    <div class="card-body" >
                        <i class="bi bi-check-circle"></i>
                        <h3 class="card-title">SAFE</h3>
                        <!-- <p class="lead">The pharmacy website is a source of reliable and accurate information on medicines and their alternatives.</p> -->
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-primary pb-2">
                    <div class="card-body" >
                        <i class="bi bi-coin"></i>  
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                            <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                        </svg>   -->
                        <h3 class="card-title">COST-EFFECTIVE</h3>
                        <!-- <p class="lead">The website has a user-friendly interface that makes it easy to navigate and search for information.</p> -->
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-primary pb-2">
                    <div class="card-body" >
                        <i class="bi bi-graph-up"></i>
                        <h3 class="card-title">High-Quality</h3>
                        <!-- <p class="lead">The website regularly updates its medication information to ensure that users have access to the latest data.</p> -->
                    </div>
                </div>
            </div> 



        </div>
    </div>
</section>

<!-- team starts -->
<section class="team section-padding" id="team"  data-aos="fade-up" data-aos-delay="140" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>COMPARISON WITH BRAND MEDICINES</h2>
                    <!-- <p>Our website creation process was centred on collaboration, with the team successfully harnessing<br> the capabilities of each member and utilising agile approaches for efficient delivery.</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body" id="card-body">
                        <!-- <img alt="" class="img-fluid rounded-circle" src="./img/team-1.jpg"> -->
                        <h3 class="card-title py-2" id="card-title"> Are generic drugs really as safe as brand name drugs?</h3><hr>
                        <p class="card-text">Yes. The FDA must first approve all generic drugs before they are marketed. The FDA requires that generic drugs must be as high in quality, and as strong, pure and stable as brand name drugs.</p><br>
                        <p class="card-text">Generic drugs use the same active ingredients as brand name drugs and work the same way. They have the same risks and the same benefits as the brand name drugs.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body" id="card-body">
                        <!-- <img alt="" class="img-fluid rounded-circle" src="./img/team-2.jpg"> -->
                        <h3 class="card-title py-2" id="card-title">Why are generic drugs cheaper even with the same components?</h3><hr>
                        <!-- <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p> -->
                        <p class="card-text">Although generic drug active ingredients are chemically identical to their branded counterparts, they are typically sold at a cheaper price than the brand name drug.</p><br>
                        <br> 
                        <p class="card-text">Generics are less expensive because the drug manufacturer does not have to duplicate the original clinical trials for effectiveness and safety, which lowers the cost to bring the drug to market. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body" id="card-body">
                        <!-- <img alt="" class="img-fluid rounded-circle" src="./img/team-3.jpg"> -->
                        <h3 class="card-title py-2" id="card-title">Why do generic and brand name drugs not look similar?</h3><hr>
                        <!-- <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p> -->
                        <p class="card-text">In the United States, trademark laws do not allow generic drugs to look exactly like the brand name drug. However, the generic drug must have the same active ingredients.</p>
                        <br>
                        <p class="card-text">Colors, flavors, and certain other inactive ingredients of generic drugs may be different from brand name drugs but the effectiveness of the drug remains the same.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body" id="card-body">
                        <!-- <img alt="" class="img-fluid rounded-circle" src="./img/team-4.jpg"> -->
                        <h3 class="card-title py-2" id="card-title">Does every brand name drug have a generic drug at present?</h3><hr>
                        <!-- <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p> -->
                        <p class="card-text">Not at first. New drugs are developed under patent protection, and most drug patents are protected for 20 years after FDA filing.</p>
                        <br>
                        <p class="card-text">However, it may take years to research and get the brand drug to market. When the patent gets closer to expiration, other drug companies apply to the FDA for approval to start selling the generic version of the drug.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- team ends -->
<br><br><br>
