<link rel="stylesheet" href="login.css">
<!-- <link rel="stylesheet" href="../public/users/login.css"> -->
<div id="carouselExampleCaptions" class="carousel-slide bg-white">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div style="padding-top: 4em; height: 2px;">
      <% if(locals.errors){ %> <% errors.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= error.msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% }); %> <% } %> <% if(success_msg != ''){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success_msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> <% if(error_msg != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error_msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> <% if(error != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> 


      </div>
    <div id="login-form-wrap">
      <h2>Login</h2>
      
      

        <form action="/users/login" method="POST" class="mt-4" id="login-form">
				  <div class="form-group">
          <p>
				  <input 
          type="email" 
          id="email" 
          name="email" 
          placeholder="Email" required>
          <i class="validation"><span></span><span></span></i>
				  </p>
				  <p>
				  <input 
          type="password" 
          id="password" 
          name="password" 
          placeholder="Password" required>
          <i class="validation"><span></span><span></span></i>
				  </p>
				  <p>
				  <input 
          type="submit" 
          id="login" 
          value="Login">
				  </p>
          </div>
				</form>
				<div id="create-account-wrap">
				  <p>Not a member? <a href="/users/register">Create Account</a><p>
				  <!-- <p>Not a member? <a href="http://localhost:3000/register">Create Account</a><p> -->
				</div><!--create-account-wrap-->
			  
			</div><!--login-form-wrap-->
          
			</div>
          
        </div>
    </div>